<h1>ExchangeApp</h1>

<!--%= f.date_field :date, min: Date.now(1994, 07, 03), max: Date.today %-->
<!--%= date_select('transaction','date',selected: Date.today, min: 90.days.ago, max: Date.today, :discard_year) %-->
<p>Find me in app/views/exchange/show.html.erb</p>
